
.header
{
    border-bottom: 1px solid #E2E8F0;
    grid-row: 1;
    background-color: #92B8B7;
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #E2E8F0;
}



