
.main__section
{
    display: flex;  
}

.main__section-items
{
    
    height: 350px;
    align-self: center;
   
    margin-top: 90px;
}

.section__items-heading
{
    color: #707070;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    margin-left: 10px;
    margin-top: 20px;
}

.section__items-text
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #707070;

    max-width: 90%;
    margin-top: 20px;
    margin-left: 12px;
}